%center

 = link_to 'addcoments', :action => 'addcoments'
 %br/
 = link_to 'addfavourite', :action => 'addfavourite' 
 %br/
 = link_to 'addmemoriedetails', :action => 'addmemoriedetails' 
 %br/
 = link_to 'B', :action => 'B' 
 %br/
 = link_to 'GetMemories', :action => 'GetMemories'
 %br/
 = link_to 'comments', :action => 'comments' 
 %br/
 = link_to 'followuser', :action => 'followuser'
 %br/
 = link_to 'getcategories', :action => 'getcategories' 
 %br/
 = link_to 'getcomments', :action => 'getcomments' 
 %br/

 = link_to 'getshowdown', :action => 'getshowdown' 
 %br/
 = link_to 'getuserdetails', :action => 'getuserdetails' 
 %br/
 = link_to 'rememberedmemories', :action => 'rememberedmemories' 
 %br/
 = link_to 'result', :action => 'result' 
 %br/
 = link_to 'search', :action => 'search' 
 %br/
 = link_to 'signin', :action => 'signin' 
 %br/
 = link_to 'views', :action => 'views' 
 %br/
 = link_to 'usercomments', :action => 'usercomments' 
 %br/
 = link_to 'userfollowedby', :action => 'userfollowedby' 
 %br/
 = link_to 'userfollowing', :action => 'userfollowing' 
 %br/
 = link_to 'userrememberedmemories', :action => 'userrememberedmemories'  
 %br/
 = link_to 'emailconform', :action => 'emailconform'