#tag_box
  -if @categories
    - @categories.each do |c|
      -if c.memories.any?
        -if params[:category] && (params[:category].to_i == c.id)
          =link_to dyr_categories_title(c.name) + " (#{c.memories.count})", '#', :class => 'current tag', :id => "category_#{c.id}"
        -else
          =link_to dyr_categories_title(c.name) + " (#{c.memories.count})", root_path(:category => c.id, :decade => params[:decade]),:class => 'tag', :id => "category_#{c.id}"
    - if !params[:category]
      =link_to "All Categories (#{Memory.count})", '#', :class => 'current'
    - else
      =link_to "All Categories (#{Memory.count})", root_path(:decade => params[:decade])