!!! 5

/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title DoYouRemember?
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %link{:href => "css/style.css", :rel => "stylesheet"}
    %link{:href => "css/splash.css", :rel => "stylesheet"}
    = stylesheet_link_tag "splash"
    %script{:src => "js/libs/modernizr-2.5.3.min.js"}
    = csrf_meta_tags
  %body
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    #header_wrapper
      %header
        %hgroup#welcome-to-do-you-remember
          %h1#title Welcome to
          = image_tag "do-you-remember-text-logo.png"
          %h2#description 
            The site to post memories
            %br/
            and share your stories
    
        -# #entrance{:ondrop => "drop(event)", :ondragover => "allowDrop(event)" }
        #entrance
          = image_tag "entrance-image.png"
        .do-you-remember-logo
          = image_tag "elefant-icon.png", :id => "elephant"
          =# image_tag "elefant-icon.png", :id => "elephant", :draggable => "true", :ondragstart => "drag(event)"
    =# params[:code]     
    =# params
    =# cookies.to_json
    %div{:id => "descriptionarea", :role => "main"}
      - if params[:notice]
        .notice
          = params[:notice]
      - else
        #invitation-instructions
          - if params[:code]
            .alert
              Sorry, the code you entered is incorrect.
              %br/
              Please try again or request another invite.
          - if params[:alert] 
            .alert
              = params[:alert]
          - unless params[:alert]
            %h3
              If you received an invite, you know what to do next.
              %br/
              %br/
              = form_tag do
                = label_tag :Or_enter_your_code
                = password_field_tag :code
                = submit_tag "Send"
              %br/
              Want to enter? Please submit your email below and an invite will follow.
              %br/
              
        - unless params[:alert] || params[:notice]
          #invitation-form
            = form_for @visit do |f|
              - if @visit.errors.any?
                #error_explanation
                  %h2= "#{pluralize(@visit.errors.count, "error")} prohibited register from being saved:"
                  %ul
                    - @visit.errors.full_messages.each do |msg|
                      %li= msg
      						
              = f.email_field :email, :id => :email, :placehholder => "email"
              = f.hidden_field :ip, :value => request.remote_ip
              = f.submit "Send It"# "send", :id => "emailSend"
              / %input#emailSend{:type => "submit"}
      - unless params[:notice] || params[:alert]
        %footer
          -#social-networks
            = link_to image_tag("facebook-icon.png"), "#", :class => "networks", :id => "facebook"
            = link_to image_tag("twitter-icon.png"), "#", :class => "networks",  :id => "twitter"
            = link_to image_tag("tumbler-icon.png"), "#", :class => "networks", :id => "tumbler"
          #more-info

            = mail_to "info@doyouremember.com", "Contact Us", :encode => "javascript"
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
      = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'
      = javascript_include_tag "/js/soundmanager2-nodebug-jsmin.js"
      / = javascript_include_tag "/js/jquery.playable.js"
      = javascript_include_tag "/js/splash.js"
      / %script{:src => "/js/splash.js"}
    - if Rails.env.eql?('production')
      :javascript
        window.jQuery || document.write('<\/script>')
        var _gaq=[['_setAccount','UA-31381947-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));