- if can? :manage, @memory
  %em Admin Tools:
  - if !@memory.suspended?
    = link_to "Suspend Memory", suspend_memory_path(@memory.id), :confirm => "Are you Really Sure?", :remote => true, :id => "suspend"
  - else
    = link_to "Unsuspend Memory", unsuspend_memory_path(@memory.id), :confirm => "Are you Really Sure?", :remote => true
  | 
  = link_to "Delete Memory", memory_path(@memory), :confirm => "Are you Really Sure?", :method => :delete
  | 
  - if !@memory.user.banned?
    = link_to "Ban User", ban_user_memory_path(@memory), :confirm => "Are you Really Sure?", :remote => true
  - else
    = link_to "Unban User", unban_user_memory_path(@memory), :confirm => "Are you Really Sure?", :remote => true