%html
  %head
    :css
      #container{ background-image: -webkit-linear-gradient(#fcffff, #d4ebed); background-image: -moz-linear-gradient(#fcffff, #d4ebed); }
      #photo_box{ transform:rotate(-10deg); -webkit-transform:rotate(-10deg); -moz-transform:rotate(-10deg); -ie-transform:rotate(-10deg); -o-transform:rotate(-10deg); }

  %body#email_memory_comment_notification
    #container{:style => "width:600px; padding: 0px 20px 20px 0px; border: 6px solid #999; color: black; background-color: #d4ebed; border-radius: 4px; font-family:sans-serif; font-weight: bold; font-size: 100%;" }
      %table
        %tr
          %td
            #photo_box{:style => "margin: 20px; padding: 10px; border: 3px solid #ccc; border-radius: 2px; width: 200px; background-color: white; z-index: 1; text-align: center;" }
              #photo{:style => "height: 180px; width: 180px; max-height:180px; max-width:180px; padding: 5px; overflow:hidden"}
                = image_tag @image, :title => @image_title, :style => "height: 100%;"
              #photo_caption
                %p= @image_title
          %td
            #text_box{:style => "margin: 20px; font-size: 1.3em; line-height: 2em;"}
              #logo_container{:style => "width: 413px;"}
                %img{:src => "#{CONFIG[:app_url]}/assets/doYouRememberSmallLogo.png", :alt => "Do You Remember?" }
              %p{:style => "width: 300px; padding-right: 30px;"}= yield
            - if !@user_id.nil?
              #changeSettings  
                %p{:style => "width: 300px; padding-right: 30px;"}
                  You can change your notification settings 
                  = link_to "here", CONFIG[:app_url] + users_home_path(:anchor => 'settings')
          
-#%html
  %head
  %body{:leftmargin => "0", :topmargin => "0"}
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td{:style => "background: transparent url(#{CONFIG[:app_url]}/assets/bg_row1_header.png) repeat-x 0 0; "}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:align => "left", :valign => "top", :width => "40%"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "160"}
                  %tr
                    %td{:width => "10"}
                      %img{:border => "0", :height => "1", :src => "#{CONFIG[:app_url]}/assets/spacer.gif", :width => "10"}
                    %td
                      %img{:border => "0", :height => "27", :src => "#{CONFIG[:app_url]}/assets/spacer.gif", :width => "1"}
                  %tr
                    %td  
                    %td
                      %img{:border => "0", :src => "#{CONFIG[:app_url]}/assets/iso_header.png"}
              %td{:align => "center", :valign => "top", :width => "117"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "55"}
                  %tr
                    %td{:height => "7"}
                      %img{:border => "0", :height => "7", :src => "#{CONFIG[:app_url]}/assets/spacer.gif", :width => "1"}
                  %tr
                    %td
                      %img{:border => "0", :height => "120", :src => "#{CONFIG[:app_url]}/assets/logo_header.png", :width => "117"}
              %td{:width => "40%"}  
      %tr
        %td
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:width => "10"}
                %img{:border => "0", :height => "1", :src => "#{CONFIG[:app_url]}/assets/spacer.gif", :width => "1"}
              %td
                = yield
          